.etapas-section {
  width: 100%;
  padding: 60px 20px;
  background: #f9f9f9;
}

.etapas-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #222;
}

.etapas-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.etapas-line {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  height: 4px;
  background: #ddd;
  z-index: 1;
  overflow: hidden;
}

.etapas-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--line-progress, 0);
  background: #ffc800;
  transition: width 0.4s ease;
  z-index: 2;
}

.etapas-step {
  flex: 1;
  position: relative;
  padding: 0 15px;
  text-align: center;
}

.etapas-circle {
  width: 62px;
  height: 62px;
  background: #ffc800;
  color: white;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  font-size: 25px;
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.etapas-step:hover .etapas-circle {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(255, 200, 0, 0.7);
}

.etapas-arrow {
  position: absolute;
  top: -8px;
  right: -10%;
  font-size: 3rem;
  color: #666;
  z-index: 3;
}

.etapas-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.etapas-step:hover .etapas-content {
  transform: translateY(-10px); /* eleva o card */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* sombra mais intensa */
}


.etapas-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .etapas-container {
    flex-direction: column;
    align-items: center;
  }

  .etapas-line {
    display: none;
  }

  .etapas-arrow {
    display: none;
  }

  .etapas-step {
    margin-bottom: 50px;
  }
}

